#ride-gallery-top {
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}

#ride-gallery-bottom {
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}

#book-button-section {
  text-align: center;
}
